#comments-list p {
    font-size: 12px;
    border: 2px solid blue;
}

#global-image {
    width: 30px;
    width: 20px;
}

p strong {
    font-size: 15px;
    color: #1b435e;
    position: inherit;
    margin-bottom: 5px;
}

.galery {
    position: relative;
}

.modal {
    position: absolute;
    border-radius: 5px;
    list-style-type: none;
    margin: auto auto;
    width: 1350px;
    height: 550px;
    display: -webkit-flex;
    display: none;
    z-index: 1000;
}

.modalOn {
    position: absolute;
    border-radius: 5px;
    list-style-type: none;
    margin: auto auto;
    width: 1350px;
    height: 550px;
    display: -webkit-flex;
    display: flex;
    background-color:rgba(0, 0, 0, 0.5);
}

.user-info h3 {
    color: blue;
    text-align: center;
    text-transform: capitalize;
    word-spacing: 2px;
}

table td {
    color: #888888;
}

#avatar{
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #555555;
    border-radius: 40%;
    width: 70px;
    height: 70px;
}

.image {
    margin-left: 10%;
    -webkit-flex: initial;
    flex: initial;
    width: 600px;
    min-width: 300px;
}

.panel {
    -webkit-flex: none;
    flex: none;
    width: 350px;
    height: 400px;
    min-width: 200px;
    border-radius: 8px;
    border: 1px solid #555555;
    background-color: #ffffff;
    margin-left: 8px;
    padding: 5px;
    overflow-y: auto;
}

.image img {
    border-radius: 20px;
    border: 5px solid #ddd;
    width: 100%;
    height: 403px;
}

input[type="text"] {
    display: block;
    margin: 0;
    width: 80%;
    font-family: sans-serif;
    font-size: 12px;
    appearance: none;
    box-shadow: none;
}
input[type="text"]:focus {
    outline: none;
}

.button-section a{
    font-size: 14px;
    text-decoration: none;
}

.comments-section .button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 4px 8px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 11px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
}
.comments-section .button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.comments-section .button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.hidden {
    display: none;
}
